* {
  margin: 0;
  padding: 0;
}
.main-page {
  width: 1255px;
  height: 1351px;
  background: linear-gradient(-45deg,#ee7752 0%,#e73c7e 25%,#23a6d5 75%,#23d5ab 100%);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.main-page .part-1 {
  color: white;
  font-size: 92px;
  letter-spacing: 2.4px;
  text-shadow: 0 -1px 2px black, 0 -0.5px 2px black, 0 0 2px black,0 0.5px 2px black,
  0 1px 2px black,0 1.5px 2px black,0 2px 2px black,0 2.5px 2px black,0 3px 2px black,0 3.5px 2px black,
  0 4.5px 2px black,0 5px 2px black,0 5.5px 2px black,0 6px 2px black;
  text-align: center;
  margin-top: 170px;
}
.main-page .part-2 {
  margin: 100px auto 0 auto;
  width: 642px;
  height: 205px;
  height: 0 auto;
  padding: 10px 50px 10px 50px;
  background-color: white;
  font: normal 28px "微软雅黑";
  color:#008001;
  line-height: 45px;
  word-break: break-all;
}
.main-page .part-3{
  width: 1085px;
  height: 240px;
  margin: 120px auto 0 auto;
  display: flex;
  flex-direction: row;
}
.main-page .part-3 div {
  position: relative;
  border: 8px solid white;
  width: 339px;
  height: 232px;
  display: inline-block;
  margin: 0 10px 0 10px;
  overflow: hidden;
}

.part-3 div .mask {
  color: white;
  text-align: center;
  margin: 0 0 0 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: none; 
  background: rgb(58,1,132,0.44);
  font-family: 'Merriweather';
}
.part-3 div .mask-text {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.part-3 div .mask-cover {
  position: absolute;
  z-index: 1;

  right: 120px;
  bottom: 120px;

  transform: rotate(45deg);
}
.part-3 div:nth-child(1) {
  background-image: url(../image/empire-state.png);
  background-size: cover;
}
.part-3 div:nth-child(2) {
  background-image: url(../image/midtown.png); 
  background-size: cover; 
}
.part-3 div:nth-child(3) {
  background-image: url(../image/liberty.png);
  background-size: cover;
}

.part-3 div:nth-child(1):hover .mask {
  display: block;
  background: rgb(58,1,132,0.44);
}
.part-3 div:nth-child(2):hover .mask-text,
.part-3 div:nth-child(2):hover .mask-cover {
  display: block;
  background: rgba(2, 2, 2, 0.4);
}
.part-3 div:nth-child(3):hover .mask {
  color :black;
  display: block;
  background-image: none;
  background: rgb(255,231,179);
}
.part-3 div:nth-child(3):hover a {
  color: white;
} 
.part-3 h2 {
  padding-top: 30px;
  font-size: 20px;
}
.part-3 p {
  line-height: 20px;
  font-style: italic;
  font-size: 13px;
  margin: 10px 5px 20px 5px;
}
.part-3 a {
  padding: 5px 5px 2px 5px;
  display: inline-block;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: black;
}

.main-page .part-4 {
	-webkit-column-count:3; 
  column-count:3;
  font: 20px serif;
  width:630px;
  height:217px;
  margin: 117px auto 60px auto;
  background-color: white;
  padding: 10px 15px 10px 15px;
  column-gap: 10px;
  word-break: break-all;
}
.part-4 p {
  margin-bottom: 10px;
}
.part-4::before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
  font-size: 0; 
  overflow: hidden; 
  border-width: 25px; 
  border-style: solid dashed dashed; 
  border-color: transparent transparent white; 
  top:1023px; 
  left:930px;	
}


